@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}

#root {
  height: 100%;
  width: 100%;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Swiper Pagination Styles */
.swiper-pagination-bullet {
  width: 0.6rem !important;
  height: 0.6rem !important;
  border-radius: 100% !important;
  background: rgb(251, 251, 251) !important;
  opacity: 100;
}
.swiper-pagination-bullet-active {
  background: #025afd !important;
  width: 0.6rem !important;
  height: 0.6rem !important;
  border-radius: 100% !important;
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px); /* Adjust this value for wave height */
  }
  100% {
    transform: translateY(0);
  }
}

.path1 {
  animation: wave 4s ease-in-out infinite;
  animation-delay: 4s;
}

.path2 {
  animation: wave 4s ease-in-out infinite;
  animation-delay: 0s;
}

.path3 {
  animation: wave 4s ease-in-out infinite;
  animation-delay: 0.6s;
}

.path4 {
  animation: wave 4s ease-in-out infinite;
  animation-delay: 0.7s;
}

.topToBottom {
  transform: translateY(-50px);
  opacity: 0;
  animation: fadeSlideTop 0.4s forwards;
}

@keyframes fadeSlideTop {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.bottomToTop {
  transform: translateY(100%);
  animation: slideBottom 0.3s 0.9s ease-out forwards;
}

@keyframes slideBottom {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
